* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Roboto Mono", monospace;
  background-image: url(/img/bck.jpg);
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.table,
.ball,
.paddle,
.result {
  position: absolute;
}

.table {
  width: 700px;
  height: 400px;
  background-color: #093f31;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
}

.ball {
  width: 20px;
  height: 20px;
  top: calc(50% - 20px/2);
  left: calc(50% - 20px/2);
  background-color: white;
  border-radius: 50%;
  -webkit-animation: ballMove 5s linear both;
          animation: ballMove 5s linear both;
}

.paddle {
  width: 25px;
  height: 80px;
  background-color: red;
}

/* rakietka lewa strona */
.player {
  top: calc(50% - 80px/2);
  left: 50px;
  -webkit-animation: playerPaddle 5s linear both;
          animation: playerPaddle 5s linear both;
  border-radius: 10% 5% 5% 10%;
}

/* prawa strona */
.ai {
  top: calc(50% - 80px/2);
  right: 50px;
  -webkit-animation: aiPaddle 5s linear both;
          animation: aiPaddle 5s linear both;
  border-radius: 5% 10% 10% 5%;
}

.result {
  width: 100%;
  left: 0;
  top: 18%;
  text-transform: uppercase;
  text-align: center;
  font-family: sans-serif;
  font-size: 3rem;
  color: white;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: showResult 1s calc(5s + 1s) both;
          animation: showResult 1s calc(5s + 1s) both;
}

@-webkit-keyframes ballMove {
  20% {
    top: 340px;
    left: 605px;
  }
  30% {
    top: 380px;
    left: 480px;
  }
  60% {
    top: 80px;
    left: 75px;
  }
  88% {
    top: 0;
    left: 540px;
  }
  100% {
    top: 80px;
    left: 700px;
  }
}

@keyframes ballMove {
  20% {
    top: 340px;
    left: 605px;
  }
  30% {
    top: 380px;
    left: 480px;
  }
  60% {
    top: 80px;
    left: 75px;
  }
  88% {
    top: 0;
    left: 540px;
  }
  100% {
    top: 80px;
    left: 700px;
  }
}

@-webkit-keyframes playerPaddle {
  20% {
    top: 200px;
  }
  30% {
    top: 260px;
  }
  60% {
    top: 40px;
  }
  88% {
    top: 70px;
  }
  100% {
    top: 90px;
  }
}

@keyframes playerPaddle {
  20% {
    top: 200px;
  }
  30% {
    top: 260px;
  }
  60% {
    top: 40px;
  }
  88% {
    top: 70px;
  }
  100% {
    top: 90px;
  }
}

@-webkit-keyframes aiPaddle {
  20% {
    top: 290px;
  }
  30% {
    top: 320px;
  }
  60% {
    top: 220px;
  }
  88% {
    top: 140px;
  }
  100% {
    top: 70px;
  }
}

@keyframes aiPaddle {
  20% {
    top: 290px;
  }
  30% {
    top: 320px;
  }
  60% {
    top: 220px;
  }
  88% {
    top: 140px;
  }
  100% {
    top: 70px;
  }
}

@-webkit-keyframes showResult {
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes showResult {
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=style.css.map */